


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <p id="notice"><%= notice %></p>
<h1>Listing Products</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Released on</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.released_on %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>


<div id="alert" class = "alert-danger"><%= alert %></div>


<br/>
<br/>

<%= link_to 'New Product', new_product_path %>

    <br/>
    <br/>

    <p>
      Download:
      <%= link_to "CSV", products_path(format: "csv") %> |
      <%= link_to "Excel", products_path(format: "xls") %>
    </p>



  </div>
</div>
